<!DOCTYPE html>
<html>
  <head>
    <title>FaceBork</title>
    <%= csrf_meta_tags %>

    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <!-- add all images to window.staticAssets object -->
    <script type="text/javascript">
      window.splashimage1 = "<%= image_url('babe/emma_splash1.jpeg') %>"
      window.splashimage2 = "<%= image_url('babe/emma_splash2.png') %>"
      window.splashimage3 = "<%= image_url('babe/emma_splash3.png') %>"
      window.splashimage4 = "<%= image_url('babe/emma_splash4.png') %>"
      window.splashimage5 = "<%= image_url('babe/emma_splash5.png') %>"
      window.fb1 = "<%= image_url('fb_icons/fb1.png') %>"
      window.fb2 = "<%= image_url('fb_icons/fb2.png') %>"
      window.fb3 = "<%= image_url('fb_icons/fb3.png') %>"
      window.photoIcon = "<%= image_url('fb_icons/photoicon.png') %>"
      window.introIcon = "<%= image_url('fb_icons/bone_icon.png') %>"
      window.searchDogTrans = "<%= image_url('fb_icons/transparent_search_dog.PNG') %>"
      window.searchDogWhite = "<%= image_url('fb_icons/white_search_dog.JPG') %>"
      window.borkPostIcon = "<%= image_url('fb_icons/dog_bork_icon.png') %>"
      window.staticAssets = {
        cakeIcon: "<%= image_url('fb_icons/cake_icon.png') %>",
        jobIcon: "<%= image_url('fb_icons/job-icon.png') %>",
        houseIcon: "<%= image_url('fb_icons/home-icon.png') %>",
        heartIcon: "<%= image_url('fb_icons/hearts.png') %>",
        peopleIcon: "<%= image_url('fb_icons/users.svg') %>",
        dogIcon: "<%= image_url('fb_icons/dog_icon.png') %>",
        toyIcon: "<%= image_url('fb_icons/tug-toy-icon.png') %>",
        dog2Icon: "<%= image_url('fb_icons/other_dog_icon.png') %>",
        likeOn: "<%= image_url('likeOn.png') %>",
        likeOff: "<%= image_url('likeOff.png') %>",
      }
    </script>


    <%= yield %>
  </body>
</html>
