<!DOCTYPE html>
<html>
  <head>
    <title>FaceBork</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <script type="text/javascript">
      window.splashimage = "<%= image_url('emma_splash.jpeg') %>"
    </script>


    <%= yield %>
  </body>
</html>
